<!DOCTYPE html>
<html>
<body>
	<script
		src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>

	<script>
		var app = angular.module('myApp', []);
		app.controller('myCtrl', function($scope, $filter) {
			$scope.searchString = [ {
				Text : "https://google.com"
			}, {
				Text : "https://bbc.com"
			}, {
				Text : "https://microsoft.com"
			} ];
			$scope.searchString2 = $scope.searchString;
			$scope.$watch('search', function(val) {
				$scope.searchString = $filter('filter')($scope.searchString2,
						val);
			});
		});
	</script>

	<div data-ng-app="myApp" data-ng-controller="myCtrl">
		<div class="bar">
			<input type="text" class="search" data-ng-model="search" />
		</div>
		<ul>
			<li data-ng-repeat="item in searchString"><a
				href="{{item.Text}}">{{item.Text}}</a></li>
		</ul>
	</div>
</body>
</html>
