
<div>
	<div class="modal-dialog">
		<div class="modal-content modal-popup">
			<form name="form" data-ng-submit="login()" role="form"
				class="popup-form" id="myLogin">
				<select class="form-control form-white"
					data-ng-model="usertype" name="usertype"
					id="usertype" required style="background:red;">
					<option value="">--Select--</option>
					<option data-ng-repeat="types in usertypes" value="{{types.type}}">{{types.type}}</option>
					</select>
					
				<input type="text" class="form-control form-white"
					placeholder="Username" data-ng-model="username" name="username"
					id="username" required> <span
					data-ng-show="form.username.$dirty && form.username.$error.required"
					class="help-block">Username is required</span> <input type="password"
					class="form-control form-white" placeholder="Password"
					data-ng-model="password" name="password" id="password" required>
				<span
					data-ng-show="form.password.$dirty && form.password.$error.required"
					class="help-block">Password is required</span>
				<div class="text-left">
					<a href="#!/forgotpassword">Forgot Password?</a>&nbsp;&nbsp;&nbsp;
					| &nbsp;&nbsp;<a href="#!/register">You don't have account yet?</a>
				</div>
				<div>
					<button class="btn btn-submit" type="submit"
						data-ng-disabled="form.$invalid || dataLoading"
						class="btn btn-danger">Login</button>
					<img data-ng-if="dataLoading"
						src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
				</div>
			</form>
		</div>
	</div>
</div>